$background-color: #222629;
$text-color: white;
$x-color: #86C232;
$accent-color: #61892F; //for menus etc.
$header-color: #474B4F;
$footer-color: #474B4F;
$light-grey: #6B6E70;
$button-color: #C21807;

$screen: #C5C1C0;
$steel: #0A1612;
$denim: #1A2930;
$marigold: #F7CE3E;